body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header{
    background-color: rgb(110, 236, 209);
    display: inline;
}
header a{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(253, 207, 0), rgba(255, 0, 0, 0.637));
    padding: 13px 30px;
    border-radius: 80px;
    color: white;
    font-weight: 200;
    box-shadow: 10px 10px 60px rgba(240, 112, 62, 0.836);
}
.banner-container{
    display: flex;
    margin: 100px 150px;
}
.banner-width{
    width:50%;
    padding-left: 4%;  
}
.banner-width img{
    width:100%;
}
.header-class{
    font-size: 75px;
    width: 90%;
    padding-top: 70px;
    color: rgb(88, 88, 88);
    font-weight: 900;
    margin: 0;
}
p{
   width: 80%;
   font-size: 20px;
   letter-spacing: 1px;
   color: rgb(87, 87, 87);
   margin-bottom: 70px;  
}
#gradient-letter{
    color:rgb(243, 117, 45);
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(253, 207, 0), rgba(255, 0, 0, 0.637));
    padding: 23px 55px;
    border-radius: 80px;
    color: white;
    font-weight: 200;
    box-shadow: 10px 10px 60px rgba(240, 112, 62, 0.836);
}
.about-section{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    margin: 0;
}
.about-image{
    width:50%;
    margin-left: 5%;  
}
.about-image img{
    width:55%;
    margin-left: 22%;
    margin-top: 10%;
    margin-bottom: 0;
}
.about-image h2{
    margin-top: 15%;
    margin-bottom:8%;
    font-size: 55px;
    font-weight: bold;
}
.about-image p{
    margin-right: 15%;
    margin-bottom: 15%;
    font-size: 23px;
    color: rgba(63, 61, 61, 0.63);
}
.about-image a{
    background-image: linear-gradient(to right, rgb(202, 196, 109), rgb(253, 110, 94));
    box-shadow: 10px 10px 60px rgba(177, 147, 99, 0.932);
}
.recepie-container{
    margin: 0;
}
.recepie-header{
    text-align: center;
}
.recepie-header h2{
    margin: 0;
    padding-top: 5%;
    font-size: 55px;
    font-weight: 700;
    color: rgba(61, 61, 61, 0.87);
  
}
.recepie-header p{
    font-size: 25px;
    font-weight: 200;
    width: 50%;
    margin-left: 25%;
    color: rgba(63, 61, 61, 0.904);
  
}
.recepie-size{
    display: flex;
    margin-bottom: 80px;
    margin-left: 7%;
    margin-right: 3%;   
   
}
.recepie-content{
    width: 30%;
    margin-right: 4%;
    padding: 25px 25px;
    box-shadow: 10px 10px 30px  rgba(92, 88, 88, 0.329);
    border-radius: 40px;
}
.recepie-content img{
    width: 100%;
}
.follower-container{
    margin: 10%;
}
.followers-box{
    display: flex;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 40px;
    box-shadow: 10px 10px 20px  rgba(92, 88, 88, 0.342);
}
.followers-count{
    margin: 0% 8%;
}
.followers-count h2{
    font-size: 60px;
    font-weight: bold;
}
.followers-count p{
    display: inline;
}
.footer-box{
    text-align: center;
    padding-top: 20px;
    background-color: rgb(19, 16, 16);
    padding-bottom: 50px;
}
.footer-box h2{
    font-size: 40px;
    margin-bottom: 0;
}
.footer-box p{
    color: rgba(241, 239, 239, 0.651);
    margin-left: 10%;

}
.food{
    color: sandybrown;
}
.network{
    color: rgb(138, 132, 132);
}